<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
        <link th:href="@{css/style.css}" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <div class="bloc-header">
                <div class="h1">
                    <h1>star love</h1>
                </div>
                <div class="text-header">
                    <p>Trouvez l'amour en quelques clics!</p>
                </div>
            </div>
        </header>
    </body>
</html>
