<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,user-scalable=no">
</head>
<header th:replace="fragments/header :: header"></header>

<section class="findInUniverse" th:replace="fragments/partie1 :: partie1"></section> <!-- TODO: implémenter un fraggment -->

    <a th:href="@{/result}">Trouver l'amour !</a> <!-- TODO: remplacer par un bouton -->

<section class="findInPlanet"></section>

<section class="findOnCriterion"></section>






</body>
</html>